.TodoSearch 
{
  padding: 5px;
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 2px solid rgba(92, 122, 234, 1);
  border-radius: 30px;
  background: rgba(230, 230, 230, 1);
  color: rgb(20, 39, 155);
  text-align: center;
}


.TodoSearch::placeholder 
{
    color: rgb(20, 39, 155);
    font-weight: 400;
}
  
.TodoSearch:focus 
{
  border: 2px solid rgb(17, 60, 252);
  color: rgb(17, 60, 252);
}